@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.25rem;
};

::-webkit-scrollbar:horizontal {
  width: 0.5rem;
};

::-webkit-scrollbar-thumb {
  @apply bg-rose-900 rounded-xl;
};


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
